*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Inter',sans-serif;
}

body{
    background:#050505;
    color:white;
    overflow-x:hidden;
}

nav{

    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:30px 8%;

    position:fixed;

    top:0;

    left:0;

    backdrop-filter:blur(18px);

    background:rgba(0,0,0,.25);

    z-index:1000;

}

.logo{

    font-size:32px;

    font-weight:800;

    color:#ffffff;

    letter-spacing:2px;

}

.menu{

display:flex;

gap:35px;

}

.menu a{

text-decoration:none;

color:white;

font-weight:500;

transition:.3s;

}

.menu a:hover{

color:#2F80FF;

}

.hero{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:0 10%;

background:
radial-gradient(circle at top,#0c2f78 0%,#050505 45%);

}

.hero h1{

font-size:90px;

font-weight:800;

line-height:1;

margin-bottom:25px;

}

.hero p{

font-size:22px;

max-width:700px;

color:#cfcfcf;

margin-bottom:45px;

}

.buttons{

display:flex;

gap:20px;

}

.btn-primary{

background:#2F80FF;

padding:18px 35px;

border-radius:50px;

color:white;

text-decoration:none;

font-weight:700;

transition:.3s;

}

.btn-primary:hover{

transform:translateY(-4px);

box-shadow:0 15px 40px rgba(47,128,255,.45);

}

.btn-secondary{

border:2px solid white;

padding:18px 35px;

border-radius:50px;

color:white;

text-decoration:none;

font-weight:700;

transition:.3s;

}

.btn-secondary:hover{

background:white;

color:black;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:35px;

padding:120px 8%;

}

.card{

background:rgba(255,255,255,.05);

border:1px solid rgba(255,255,255,.08);

padding:45px;

border-radius:30px;

transition:.4s;

backdrop-filter:blur(15px);

}

.card:hover{

transform:translateY(-10px);

border-color:#2F80FF;

box-shadow:0 15px 50px rgba(47,128,255,.20);

}

.card h2{

margin:20px 0;

}

.card p{

color:#bdbdbd;

line-height:1.6;

}

footer{

padding:80px;

text-align:center;

background:#090909;

}

footer h2{

font-size:34px;

margin-bottom:15px;

}

footer p{

color:#999;

margin-top:10px;

}

@media(max-width:900px){

.hero h1{

font-size:52px;

}

.hero p{

font-size:18px;

}

.menu{

display:none;

}

.buttons{

flex-direction:column;

}

}
